body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: gray;

}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px black;
    margin: 0 auto;
}
#container h1{
    font-size: 30px;
    
}
#container h3{
    font-size: 15px;
}